/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --bg-color: #f4f6f8;
  --secondary-bg-color: #fff;
  --hover-bg-color: #f0f0f0;
  --color: #212121;
  --secondary-color: #757575;
  --header-color: #5850ec;
  --holiday-color: #f44336;
  --holiday-bg-color: rgba(244, 67, 54, 0.08);
  --today-color: #4caf50;
  --today-bg-color: rgba(76, 175, 80, 0.08);
  --day-opacity: 0.08;
  --card-box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 2px 0 rgba(63, 63, 68, 0.15);
}

[data-theme='dark'] {
  --bg-color: #1c2025;
  --secondary-bg-color: #282c34;
  --hover-bg-color: #30343c;
  --color: #fff;
  --secondary-color: #c6c6c6;
  --header-color: #8a85ff;
  --day-opacity: 0.05;
  --card-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.7), 0 3px 4px -2px rgba(0, 0, 0, 0.5);
}

[data-theme='dark'] .holiday::after,
[data-theme='dark'] .today::after {
  opacity: 0.09 !important;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  background: var(--bg-color);
  color: var(--color);
  transition: background-color 800ms ease;
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif;
}

svg {
  fill: var(--color);
  stroke: var(--color);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(169px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 1em;
}

.show {
  visibility: visible !important;
  opacity: 1 !important;
}
.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  z-index: 100;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.31), 0 24px 36px -8px rgba(0, 0, 0, 0.25);
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 700px;
  margin: auto;
  overflow: auto;
  padding: 1em 2em;
  height: 420px;
  background-color: var(--secondary-bg-color);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.panchanga-details {
  overflow: auto;
}

.panchanga-details .panchanga {
  min-width: 500px;
  margin-left: 0;
}

.modal__content h2 {
  display: inline-block;
  margin-right: 0.5em;
}

.icon-btn.modal__close {
  position: absolute;
  top: 0.5em;
  right: 1em;
  height: 36px;
  width: 36px;
  background: var(--secondary-bg-color);
}

@media screen and (min-width: 768px) {
  .modal__inner-extended {
    height: 90%;
  }
}

@media screen and (max-width: 768px) {
  .modal__inner {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .modal__inner .panel {
    display: block !important;
    padding-top: 2rem !important;
    margin-top: 2rem !important;
    margin-left: -2em !important;
    margin-right: -2em !important;
  }
  .modal__inner .accordion {
    display: none !important;
  }
  .icon-btn.modal__close {
    position: fixed;
    bottom: 2em;
    right: 2em;
    top: unset;
    z-index: 100;
    color: var(--holiday-color);
    transform: scale(1.5);
  }
}

.outlined-btn {
  color: var(--color);
  border: 1px solid var(--secondary-bg-color);
  cursor: pointer;
  padding: 0 0.8em;
  background-color: var(--bg-color);
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.icon-btn {
  color: var(--color);
  border: none;
  cursor: pointer;
  padding: 0;
  height: 48px;
  width: 48px;
  background-color: var(--bg-color);
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.outlined-select {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: var(--color);
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid var(--secondary-bg-color);
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--bg-color);
  /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
  for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
*/
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxMCIgaGVpZ2h0PSIxMjIiIHdpZHRoPSIxMjIiPjxwYXRoIGQ9Ik0wIDIuNSA1IDcuNSAxMCAyLjVaIiBmaWxsPSJjdXJyZW50Q29sb3IiLz48L3N2Zz4=');
  background-repeat: no-repeat, repeat;
  /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
  background-position: right 0.7em top 50%, 0 0;
  /* icon size, then gradient */
  background-size: 0.65em auto, 100%;
}
[data-theme='dark'] .outlined-select {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxMCIgaGVpZ2h0PSIxMjIiIHdpZHRoPSIxMjIiPjxwYXRoIGQ9Ik0wIDIuNSA1IDcuNSAxMCAyLjVaIiBmaWxsPSIjRkZGRkZGIi8+PC9zdmc+Cg==');
}
/* Hide arrow icon in IE browsers */
.outlined-select::-ms-expand {
  display: none;
}

.outlined-select:hover,
.outlined-select:focus,
.icon-btn:hover,
.icon-btn:focus,
.outlined-btn:hover,
.outlined-btn:focus {
  color: var(--secondary-color);
  background-color: var(--hover-bg-color);
  outline: none;
}

.outlined-select:active,
.icon-btn:active,
.outlined-btn:active {
  background-color: var(--bg-color);
  outline: none;
}

.icon-btn svg {
  stroke: transparent;
  pointer-events: none;
}

.col,
.col-2,
.col-4,
.col-6,
.col-8,
.col-11 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}

.accordion {
  color: var(--color);
  cursor: pointer;
  padding: 0.8em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: flex;
  justify-content: center;
}

.accordion * {
  pointer-events: none;
}

.active.accordion > svg {
  transform: rotate(180deg);
}

.active,
.accordion:hover {
  background-color: var(--bg-color);
}
